*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #00A6A6;
}

h1{

  text-align: center;
}

.btn{
   border-radius: 20px;
  background: #EFCA08;
  color: black;
}

.questionBox{
  background-color:#F49F0A;

}

.homeImg{
  height: 500px;
  width: auto;

}
.questionImg{
  height: 100px;
}
.answerBtn{
  margin-top: 1rem;
  margin-left: 15rem;
}

.answerImg{
  position: relative;
  height: 15rem;
  width: 15rem;
  left: 9rem;
}

.answerBox{
  height: 14.2rem;
  width: 22.5rem;
  background-color:#f49e0a00;
  margin-top: .5rem;

}

.againBtn{
  margin-top: 1rem;
  margin-left: 16rem;
}

.containerQuestionBox{
  display: flex;
}
.choicesBox{
  display: flex;
  margin-bottom: 0.5rem;
  width: 95%;
  font-size: 1rem;
  height: 2rem;
  position: relative;
  top: 4rem;
  left: .4rem;
  align-items: center;
}

.hidden{
  display: none;
}

#category{
  font-size: 1rem;
}

#question{
  font-size: 1rem;
}

.correctAnswer{
  background-color: green;
}
